<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name ="console" class ="org.apache.log4j.ConsoleAppender">
		<param name ="Target" value ="System.out"/>   
		<layout class = "org.apache.log4j.PatternLayout">	
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>		
		</layout>		
</appender>		

<appender name ="logfile" class = "org.apache.log4j.FileAppender">
		<param name ="File" value ="Vietcombank.txt"/>   
		<param name ="Append" value ="false"/>   
		<layout class ="org.apache.log4j.PatternLayout">	
			<param name="ConversionPattern" value="%d %-5p %c-%m%n"/>		
		</layout>	
</appender>		

<appender name="testng" class="commons.TestNGAppender">
		<param name ="Threshold" value="INFO"/>   
		<layout class ="org.apache.log4j.PatternLayout">	
			<param name="ConversionPattern" value="%d %-5p %c-%m%n"/>		
		</layout>	
</appender>		
			
			
			
<category name = "vnpay.vietcombank.transfer_money_in_vcb">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.changepassword">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.login">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.signin">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.transfer_money_charity">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.transfer_money_out_side_vcb">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.TransferIdentityCard">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.transfer_money_quick_247">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.lucky_gift">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnapy.vietcombank.status_transfer_money">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.sdk_train_ticket">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.sdk.airticket">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.sdk.hotelBooking">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.sdk.vehicleTickets">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.card_services">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.setupContactManament">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.mobile_topup">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.online_topup">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.auto_saving">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.vcb_auto_debit">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.interest_rate_calculate">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.saving_target">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<category name = "vnpay.vietcombank.postpaid_mobile_bills">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>


<category name = "vnpay.vietcombank.electric_bills">
<priority value ="all"/>
<appender-ref ref="console"/>
<appender-ref ref="logfile"/>
<appender-ref ref="testng"/>
</category>

<root>
	<priority value = "warn"/>
</root>

</log4j:configuration>	
	
	
	
	
	